:root {
  --background: #ffffff;
  --text-primary: #000;
  --button-bg: #2563EB;
  --button-text: #ffffff;
  --nav-bg: #2563EB;
  --nav-text: #ffffff;
  --responsive-menuitem-bg: #2563EB;
  --home-page-bg: #ffffff;
  --welcome-section-bg: #2563EB;
  --welcome-section-button-bg: white;
  --welcome-section-button-text: #2563EB;
  --welcome-section-h3-color: black;
  --slider-button-bg: black;
  --slider-button-text: white;
  --slider-button-click-color: black;
  --footer_bg: #19293F;
  --footer_text_color: #9CA3AF;
  --navbar_hover_color: #0047e0;
}

[data-theme="dark"] {
  --background: #19293F;
  --text-primary: #fff;
  --button-bg: #2563EB;
  --button-text: #ffffff;
  --nav-bg: #19293F;
  --responsive-menuitem-bg: #19293F;
  --home-page-bg: #19293F;
  --welcome-section-bg: #19293F;
  --welcome-section-button-bg: #0047e0;
  --welcome-section-button-text: #ffffff;
  --welcome-section-h3-color: #B0B0B0;
  --slider-button-bg: white;
  --slider-button-text: black;
  --slider-button-click-color: white;
  --footer_bg: gray;
  --footer_text_color: black;
  --navbar_hover_color: #0f1d31;
}

/* Footer Styles */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2563EB;
  padding: 15px 10px;
}

.footer .social_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  /* Stack items on small screens */
}

.footer .social_icons a {
  color: white;
  font-size: 1.5rem;
  /* Icon size */
  cursor: pointer;
}

.footer .social_icons p {
  color: white;
  font-size: 1rem;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .footer .social_icons {
    flex-direction: row;
    /* Stack icons and text on smaller screens */
    gap: 15px;
  }

  .footer .social_icons a {
    font-size: 1.2rem;
    /* Smaller icon size */
  }
}